In [1]:
import source.get_api_data_rent_loan_rate as test

In [4]:
test.get_rent_loan_rate()

URL:  http://apis.data.go.kr/B551408/rent-loan-rate-info/rate-list?serviceKey=NAiIcJsR2pyzyHlYnLqu9gnPC7D1kVAhhfg6cEq6Y9p6GXiTrbFBbf5ivs%2FmMlAAFuemeNPFbwp2yyJ1G07o9A%3D%3D&numOfRows=10&pageNo=1&dataType=json
resJson:
 {'header': {'resultCode': '00', 'resultMsg': '정상'}, 'body': {'pageNo': 1, 'totalCount': 17, 'numOfRows': 10, 'items': [{'bssYmdStart': '20230109', 'interest4_1': '0', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': 'SC은행', 'callCenter': '1588-1599'}, {'bssYmdStart': '20230109', 'interest4_1': '0', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '산업은행', 'callCenter': '1588-1500'}, {'bssYmdStart': '20230109', 'interest4_1': '0', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '제주은행', 'callCenter': '1588-0079'}, {'bssYmdStart': '20230109', 'interest4_1': '0', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '수협은행', 'callCenter': '1588-1515'}, {'bssYmdStart': '20230109', 'interest4_1': '6.91', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '광주은행', 'callCenter': '1600-4000'}, {'bssYmdStart': '20230109', 'interest4_1': '0', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '대구은행', 'callCenter': '1588-5050'}, {'bssYmdStart': '20230109', 'interest4_1': '4.97', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '농협은행', 'callCenter': '1588-2100'}, {'bssYmdStart': '20230109', 'interest4_1': '4.40', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '기업은행', 'callCenter': '1566-2566'}, {'bssYmdStart': '20230109', 'interest4_1': '6.23', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '부산은행', 'callCenter': '1588-6200'}, {'bssYmdStart': '20230109', 'interest4_1': '5.02', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '카카오뱅크', 'callCenter': '1599-3333'}]}}
  bssYmdStart interest4_1 interest3_2 interest4_2 interest2_1 interest1_2  \
0    20230109           0           0           0           0           0
1    20230109           0           0           0           0           0
2    20230109           0           0           0           0           0
3    20230109           0           0           0           0           0
4    20230109        6.91           0           0           0           0
5    20230109           0           0           0           0           0
6    20230109        4.97           0           0           0           0
7    20230109        4.40           0           0           0           0
8    20230109        6.23           0           0           0           0
9    20230109        5.02           0           0           0           0

  interest3_1 interest2_2 interest1_1 bssYmdEnd organId callCenter
0           0           0           0  20230115    SC은행  1588-1599
1           0           0           0  20230115    산업은행  1588-1500
2           0           0           0  20230115    제주은행  1588-0079
3           0           0           0  20230115    수협은행  1588-1515
4           0           0           0  20230115    광주은행  1600-4000
5           0           0           0  20230115    대구은행  1588-5050
6           0           0           0  20230115    농협은행  1588-2100
7           0           0           0  20230115    기업은행  1566-2566
8           0           0           0  20230115    부산은행  1588-6200
9           0           0           0  20230115   카카오뱅크  1599-3333

,bssYmdStart,interest4_1,interest3_2,interest4_2,interest2_1,interest1_2,interest3_1,interest2_2,interest1_1,bssYmdEnd,organId,callCenter
0,20230109,0,0,0,0,0,0,0,0,20230115,SC은행,1588-1599
1,20230109,0,0,0,0,0,0,0,0,20230115,산업은행,1588-1500
2,20230109,0,0,0,0,0,0,0,0,20230115,제주은행,1588-0079
3,20230109,0,0,0,0,0,0,0,0,20230115,수협은행,1588-1515
4,20230109,6.91,0,0,0,0,0,0,0,20230115,광주은행,1600-4000
5,20230109,0,0,0,0,0,0,0,0,20230115,대구은행,1588-5050
6,20230109,4.97,0,0,0,0,0,0,0,20230115,농협은행,1588-2100
7,20230109,4.40,0,0,0,0,0,0,0,20230115,기업은행,1566-2566
8,20230109,6.23,0,0,0,0,0,0,0,20230115,부산은행,1588-6200
9,20230109,5.02,0,0,0,0,0,0,0,20230115,카카오뱅크,1599-3333

In [2]:
test.get_rent_loan_rate_page()

URL:  http://apis.data.go.kr/B551408/rent-loan-rate-info/rate-list?serviceKey=NAiIcJsR2pyzyHlYnLqu9gnPC7D1kVAhhfg6cEq6Y9p6GXiTrbFBbf5ivs%2FmMlAAFuemeNPFbwp2yyJ1G07o9A%3D%3D&numOfRows=10&pageNo=1&dataType=json
resJson:
 {'header': {'resultCode': '00', 'resultMsg': '정상'}, 'body': {'pageNo': 1, 'totalCount': 17, 'numOfRows': 10, 'items': [{'bssYmdStart': '20230109', 'interest4_1': '0', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': 'SC은행', 'callCenter': '1588-1599'}, {'bssYmdStart': '20230109', 'interest4_1': '0', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '산업은행', 'callCenter': '1588-1500'}, {'bssYmdStart': '20230109', 'interest4_1': '0', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '제주은행', 'callCenter': '1588-0079'}, {'bssYmdStart': '20230109', 'interest4_1': '0', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '수협은행', 'callCenter': '1588-1515'}, {'bssYmdStart': '20230109', 'interest4_1': '6.91', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '광주은행', 'callCenter': '1600-4000'}, {'bssYmdStart': '20230109', 'interest4_1': '0', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '대구은행', 'callCenter': '1588-5050'}, {'bssYmdStart': '20230109', 'interest4_1': '4.97', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '농협은행', 'callCenter': '1588-2100'}, {'bssYmdStart': '20230109', 'interest4_1': '4.40', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '기업은행', 'callCenter': '1566-2566'}, {'bssYmdStart': '20230109', 'interest4_1': '6.23', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '부산은행', 'callCenter': '1588-6200'}, {'bssYmdStart': '20230109', 'interest4_1': '5.02', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '카카오뱅크', 'callCenter': '1599-3333'}]}}
URL:  http://apis.data.go.kr/B551408/rent-loan-rate-info/rate-list?serviceKey=NAiIcJsR2pyzyHlYnLqu9gnPC7D1kVAhhfg6cEq6Y9p6GXiTrbFBbf5ivs%2FmMlAAFuemeNPFbwp2yyJ1G07o9A%3D%3D&numOfRows=10&pageNo=2&dataType=json
resJson:
 {'header': {'resultCode': '00', 'resultMsg': '정상'}, 'body': {'pageNo': 2, 'totalCount': 17, 'numOfRows': 10, 'items': [{'bssYmdStart': '20230109', 'interest4_1': '4.99', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '신한은행', 'callCenter': '1599-8000'}, {'bssYmdStart': '20230109', 'interest4_1': '5.06', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '하나은행', 'callCenter': '1599-1111'}, {'bssYmdStart': '20230109', 'interest4_1': '5.06', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '케이뱅크', 'callCenter': '1522-1000'}, {'bssYmdStart': '20230109', 'interest4_1': '5.73', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '전북은행', 'callCenter': '1588-4477'}, {'bssYmdStart': '20230109', 'interest4_1': '5.70', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '국민은행', 'callCenter': '1644-9999'}, {'bssYmdStart': '20230109', 'interest4_1': '6.17', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '경남은행', 'callCenter': '1588-8585'}, {'bssYmdStart': '20230109', 'interest4_1': '5.99', 'interest3_2': '0', 'interest4_2': '0', 'interest2_1': '0', 'interest1_2': '0', 'interest3_1': '0', 'interest2_2': '0', 'interest1_1': '0', 'bssYmdEnd': '20230115', 'organId': '우리은행', 'callCenter': '1599-5000'}]}}
URL:  http://apis.data.go.kr/B551408/rent-loan-rate-info/rate-list?serviceKey=NAiIcJsR2pyzyHlYnLqu9gnPC7D1kVAhhfg6cEq6Y9p6GXiTrbFBbf5ivs%2FmMlAAFuemeNPFbwp2yyJ1G07o9A%3D%3D&numOfRows=10&pageNo=3&dataType=json
resJson:
 {'header': {'resultCode': '00', 'resultMsg': '정상'}, 'body': {'pageNo': 3, 'totalCount': 17, 'numOfRows': 10, 'items': []}}
URL:  http://apis.data.go.kr/B551408/rent-loan-rate-info/rate-list?serviceKey=NAiIcJsR2pyzyHlYnLqu9gnPC7D1kVAhhfg6cEq6Y9p6GXiTrbFBbf5ivs%2FmMlAAFuemeNPFbwp2yyJ1G07o9A%3D%3D&numOfRows=10&pageNo=4&dataType=json
resJson:
 {'header': {'resultCode': '00', 'resultMsg': '정상'}, 'body': {'pageNo': 4, 'totalCount': 17, 'numOfRows': 10, 'items': []}}
URL:  http://apis.data.go.kr/B551408/rent-loan-rate-info/rate-list?serviceKey=NAiIcJsR2pyzyHlYnLqu9gnPC7D1kVAhhfg6cEq6Y9p6GXiTrbFBbf5ivs%2FmMlAAFuemeNPFbwp2yyJ1G07o9A%3D%3D&numOfRows=10&pageNo=5&dataType=json
resJson:
 {'header': {'resultCode': '00', 'resultMsg': '정상'}, 'body': {'pageNo': 5, 'totalCount': 17, 'numOfRows': 10, 'items': []}}
URL:  http://apis.data.go.kr/B551408/rent-loan-rate-info/rate-list?serviceKey=NAiIcJsR2pyzyHlYnLqu9gnPC7D1kVAhhfg6cEq6Y9p6GXiTrbFBbf5ivs%2FmMlAAFuemeNPFbwp2yyJ1G07o9A%3D%3D&numOfRows=10&pageNo=6&dataType=json
resJson:
 {'header': {'resultCode': '00', 'resultMsg': '정상'}, 'body': {'pageNo': 6, 'totalCount': 17, 'numOfRows': 10, 'items': []}}
URL:  http://apis.data.go.kr/B551408/rent-loan-rate-info/rate-list?serviceKey=NAiIcJsR2pyzyHlYnLqu9gnPC7D1kVAhhfg6cEq6Y9p6GXiTrbFBbf5ivs%2FmMlAAFuemeNPFbwp2yyJ1G07o9A%3D%3D&numOfRows=10&pageNo=7&dataType=json
resJson:
 {'header': {'resultCode': '00', 'resultMsg': '정상'}, 'body': {'pageNo': 7, 'totalCount': 17, 'numOfRows': 10, 'items': []}}
URL:  http://apis.data.go.kr/B551408/rent-loan-rate-info/rate-list?serviceKey=NAiIcJsR2pyzyHlYnLqu9gnPC7D1kVAhhfg6cEq6Y9p6GXiTrbFBbf5ivs%2FmMlAAFuemeNPFbwp2yyJ1G07o9A%3D%3D&numOfRows=10&pageNo=8&dataType=json
resJson:
 {'header': {'resultCode': '00', 'resultMsg': '정상'}, 'body': {'pageNo': 8, 'totalCount': 17, 'numOfRows': 10, 'items': []}}
URL:  http://apis.data.go.kr/B551408/rent-loan-rate-info/rate-list?serviceKey=NAiIcJsR2pyzyHlYnLqu9gnPC7D1kVAhhfg6cEq6Y9p6GXiTrbFBbf5ivs%2FmMlAAFuemeNPFbwp2yyJ1G07o9A%3D%3D&numOfRows=10&pageNo=9&dataType=json
resJson:
 {'header': {'resultCode': '00', 'resultMsg': '정상'}, 'body': {'pageNo': 9, 'totalCount': 17, 'numOfRows': 10, 'items': []}}

,bssYmdStart,interest4_1,interest3_2,interest4_2,interest2_1,interest1_2,interest3_1,interest2_2,interest1_1,bssYmdEnd,organId,callCenter
0,20230109,0,0,0,0,0,0,0,0,20230115,SC은행,1588-1599
1,20230109,0,0,0,0,0,0,0,0,20230115,산업은행,1588-1500
2,20230109,0,0,0,0,0,0,0,0,20230115,제주은행,1588-0079
3,20230109,0,0,0,0,0,0,0,0,20230115,수협은행,1588-1515
4,20230109,6.91,0,0,0,0,0,0,0,20230115,광주은행,1600-4000
5,20230109,0,0,0,0,0,0,0,0,20230115,대구은행,1588-5050
6,20230109,4.97,0,0,0,0,0,0,0,20230115,농협은행,1588-2100
7,20230109,4.40,0,0,0,0,0,0,0,20230115,기업은행,1566-2566
8,20230109,6.23,0,0,0,0,0,0,0,20230115,부산은행,1588-6200
9,20230109,5.02,0,0,0,0,0,0,0,20230115,카카오뱅크,1599-3333
0,20230109,4.99,0,0,0,0,0,0,0,20230115,신한은행,1599-8000
1,20230109,5.06,0,0,0,0,0,0,0,20230115,하나은행,1599-1111
2,20230109,5.06,0,0,0,0,0,0,0,20230115,케이뱅크,1522-1000
3,20230109,5.73,0,0,0,0,0,0,0,20230115,전북은행,1588-4477
4,20230109,5.70,0,0,0,0,0,0,0,20230115,국민은행,1644-9999
5,20230109,6.17,0,0,0,0,0,0,0,20230115,경남은행,1588-8585
6,20230109,5.99,0,0,0,0,0,0,0,20230115,우리은행,1599-5000